/**
 * /* 色定義
 *
 * @format
 */

/* Material+Iconsを自前に変更 */
@font-face {
  font-display: swap;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), url(/fonts/MaterialIconsRound-Regular.otf);
}
@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Kiwi Maru";
  src: url("/fonts/KiwiMaru-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Rampart One";
  src: url("/fonts/RampartOne-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
:root {
  /*  ベースカラー */
  /*
  --u_c_1: #7e937f;
  --u_c_2: #d7BD57;
  --u_c_3: #D8E4EE;
  --u_c_4: #FFF3F3;
  --u_c_5: #37393D;
  */

  --usuyuki_white: #f4f5f7;
  --usuyuki_black: #37393d;
  --u_c_1: #d7bd57;
  --u_c_2: #f2ee93;
  --u_c_3: #d8e4ee; /*この色は使ってないので空き枠 */
  --u_c_4: #bae8bb;
  --u_c_5: #7e937f;

  /* 旧カラー */
  /* --usuyuki_white: #f4f5f7;
  --usuyuki_black: #333333;
  --u_c_1: #d9cd47;
  --u_c_2: #f2ee93;
  --u_c_3: #e7f2f6;
  --u_c_4: #9cd9d4;
  --u_c_5: #126c6d; */

  --swiper-theme-color: var(--u_c_5) !important;
  --swiper-pagination-bullet-inactive-color: var(--u_c_5) !important;
}

/*
スクロールバー
ここから
*/
/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
p::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  /* background-color: var(--border-main-color); */
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(18, 108, 109, 1);
  border-radius: 10px;
  /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); */
}

.container {
  width: 100%;
  height: 400px;
  overflow: auto;
}

.inner {
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

/*
ここまで
スクロールバー
*/
/* フォント */
body {
  font-family: "Kiwi Maru", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: var(--usuyuki_black);
  background-color: var(--usuyuki_white);

  /* ↓bodyにoverflowはそもそも効かない */
  /* position: relative;
  overflow: hidden; */
}
.font-rampart {
  font-family: "Rampart One", cursive;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

main {
  width: calc(90vw - 200px);
  max-width: 2000px;
  margin: 0 auto;
  /* navが192px */
  min-height: calc(100vh - 140px);
}
header {
  height: 70px;
}
footer {
  height: 70px;
  margin: 0 0;
  border-top: 2px dotted var(--u_c_1);
}

.link-item {
  transition: 0.5s;
}
.link-item :hover {
  color: var(--u_c_5);
  transition: 0.5s;
}

.feature-image {
  text-align: right;
}

.feature-image img {
  width: 150px;
  height: 150px;
  /* サイズ揃える */
  object-fit: cover;
  border-radius: 10px;

  margin: 0 auto;
}
.top-image {
  text-align: center;
}
.top-image img {
  width: 150px;
  height: 150px;
  /* サイズ揃える */
  object-fit: cover;
  border-radius: 40% 70% 50% 30%/50%;
  filter: grayscale(100%);
  margin: 0 auto;
}
.top-image img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.genre-tag {
  background-color: var(--u_c_1);
  color: var(--usuyuki_black);
  border-radius: 4px;
  padding: 0.25em 0.5em;
  display: inline-block;
  transition: 0.5s;
}
.genre-tag a:hover {
  color: var(--u_c_1);
}
.genre-tag:hover {
  background-color: var(--usuyuki_black);
  transition: 0.5s;
}
.archive-thumbnail {
  text-align: center;
}
.archive-thumbnail img {
  width: 150px;
  height: 150px;
  object-fit: cover;

  border-radius: 20px;
}
.link-button {
  border: 4px solid var(--u_c_2);
  transition: 0.5s;
}
.link-button:hover {
  color: var(--u_c_1);
  background-color: rgba(var(--u_c_5), 0.75);
  border: 4px dotted var(--u_c_5);
  transition: 0.5s;
}
.gitcard {
  width: 300px;
  height: auto;
  object-fit: contain;
}
@media (max-width: 1020px) and (min-width: 768px) {
  /* タブレット */
  .arrow-rotate {
    transform: rotate(90deg);
  }
}
@media (max-width: 767px) {
  main {
    max-width: 100vw;
    min-width: 100vw;
  }
  .top-image img {
    filter: grayscale(0%);
  }
  .feature-image {
    text-align: center;
  }
  /* タブレット */
  .arrow-rotate {
    transform: rotate(90deg);
  }
  /* スマホ */
}
/* フェード系アニメーション */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-time02 {
  animation-delay: 0.2s;
}

.delay-time04 {
  animation-delay: 0.4s;
}
.delay-time06 {
  animation-delay: 0.6s;
}

/* ヘッダーのアニメーション */
.mask-bg {
  color: transparent;

  overflow: hidden;
  position: relative;
  transition: color 0ms 450ms;
  color: var(--u_c_5);
}
.mask-bg p {
  animation: header-opacity-animation 0.6s cubic-bezier(0.8, 0, 0.17, 1);
  height: 68px;
}
.mask-bg div {
  width: 100%;
  height: 2px;
  background-color: var(--u_c_5);
  animation: header-opacity-animation 0.6s cubic-bezier(0.8, 0, 0.17, 1);
}
.mask-bg::after {
  background: linear-gradient(
    to top,
    var(--u_c_5) 0%,
    var(--u_c_4) 100%,
    var(--usuyuki_white) 100%
  );
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
}

.mask-bg::after {
  animation: mask-animation 0.6s cubic-bezier(0.8, 0, 0.17, 1);
}

@keyframes header-opacity-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes mask-animation {
  0% {
    transform: translate(0, -100%);
  }
  40%,
  60% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, 101%);
  }
}

.img-override {
  position: relative;
}
/* 画像読み込み */
/* Copyright (c) 2014 Luke Haas Released under the MIT license
https://github.com/lukehaas/css-loaders/blob/step2/LICENSE */
.img-loading,
.img-loading:before,
.img-loading:after {
  background: var(--u_c_1);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.img-loading {
  position: absolute !important;
  top: 100px;
  left: 50%;
  color: var(--u_c_2);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.img-loading:before,
.img-loading:after {
  position: absolute;
  top: 0;
  content: "";
}
.img-loading:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.img-loading:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
