/** @format */
.leftNav_line {
  background-color: var(--u_c_5);
  width: 4px;
  height: 410px;
  margin-right: 10px;
}

.portfolio_menu {
  display: flex;
  position: fixed;
  top: 0px;
  left: 12px;
  margin: 0 12px;
  z-index: 2;
}

/* ボタン周り */
.nav_button {
  display: none;
}
.nav_button_hidden {
  display: none;
}

@media screen and (max-width: 599px) {
  /* スマホ */
  /* .portfolio_menu a {
    font-size: 1.4em;
    margin: 0.25em 0;
  } */
  .portfolio_menu {
    width: 120px;
    transform: translateX(-200px);
    transition: 0.4s;
    opacity: 0;
    margin: 0 0;
    pointer-events: none;
    background-color: rgba(244, 245, 247, 0.7);
    border-radius: 0 0 10px 0;
  }

  .nav_button {
    width: 0px;
    position: fixed;
    top: 12px;
    left: 10px;
    display: block;
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;
  }
  .nav_button_hidden {
    width: 120px;
    transform: translateX(-00px);
    display: none;
  }
  .nav_button::before {
    font-family: "Material Icons";
    content: "chevron_right";
    font-size: 32px;
    color: var(--u_c_5);
    /* 薄めの背景 */
    background-color: var(--u_c_2);
    border-radius: 50%;
  }

  /* ボタン押したときの色々 */

  .nav_button_hidden:checked ~ .portfolio_menu {
    transform: translateX(0px);
    overflow: hidden;
    opacity: 1;
    transition: 0.5s;
    margin-left: 16px;
    pointer-events: initial;
  }

  .nav_button_hidden:checked ~ .nav_button {
    transition: 0.5s;
    left: 130px;
  }
  .nav_button_hidden:checked ~ .nav_button::before {
    content: "chevron_left";
    z-index: 2;
  }
}
